<!DOCTYPE html>
<html lang="pt-br">
    <%- include('../partials/head'); %>
<body class="container">
    <%- include('../partials/header', {pagina: 'Sobre'}); %>
    <main>
        <div class="container-fluid py-5 border rounded-3">
            <h1 class="display-4">Sobre mim</h1>
            <p>Oi sou Carlos Leão, estudante de Sistemas de Informação na Universidade Federal de Minas Gerais. Estou estudando programação com ajuda da RocketSeat.
            </p>
        </div>
    </main>
    <%- include('../partials/footer'); %>
</body>
</html>